services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      network: host
      args:
        VITE_API_URL: ${VITE_API_URL}
        VITE_API_URL_DASH: ${VITE_API_URL_DASH}
    container_name: ${PROJECT_NAME}-app
    network_mode: host
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - NODE_ENV=production